.container {
    width: 250px; /* Adjust width as needed */
    margin: 2px; /* Add space between containers */
    padding: 0px;
    border: 2px solid black;
    background-color: white;
    text-align: center;
    height: 700px;
    display: inline-block; /* Display containers next to each other */
    vertical-align: top; /* Align containers at the top */
}

.container2 {
    width: 300px; /* Adjust width as needed */
    margin: 2px; /* Add space between containers */
    padding: 0px;
    border: 2px solid black;
    background-color: white;
    text-align: center;
    height: 650px;
    display: inline-block; /* Display containers next to each other */
    vertical-align: top; /* Align containers at the top */
}

        .rare-item-name {
            font-weight: bold;
            color: darkgreen;
        }

        .super-rare-item-name {
            font-weight: bold;
            color: darkblue;
        }

        .epic-item-name {
            font-weight: bold;
            color: purple;
        }

        .common-item-name {
            color: black;
        }

    .text-box {
    width: 300px;
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    margin: 2px auto; /* Center horizontally with 2px margin */
    text-align: left; /* Center text within the box */
    }

    .big-text {
        font-size: 24px;
    }

.item-name-rare {
    color: green;
}

/* Additional styles as needed */
.bold-text {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.normal-text {
    text-align: center;
}

.character_name_text {
    color: white;
    font-size: 60px;
}

.slem_text {
    color: lightblue;
}

.energi_text {
    color: darkorange;
}

.hälsa_text {
    color: red;
}

.blueText {
    color: blue;
}

.redText {
    color: red;
}

.large {
    font-size: 60px;
}

html,
body {
    height: 100%;
    margin: 0;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.noMargin {
    margin: 0;
}

#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#top {
    height: 120px;
    background: darkkhaki;
    border-bottom: 1px solid black;
    text-align: center;
}

#main {
    background: tan;
    flex-grow: 1;
    overflow-y: auto;
    border-bottom: 1px solid black;
    padding: 0px;
    text-align: center;
}

#center {
    text-align: center;
}

#footer {
    background: tan;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

#accountOptions button {
    width: 12.5%;
}
